<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edkai.project.mapper.UserInterfaceInfoMapper">

    <resultMap id="BaseResultMap" type="com.edkai.common.model.entity.UserInterfaceInfo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="interfaceInfoId" column="interfaceInfoId" jdbcType="BIGINT"/>
        <result property="totalNum" column="totalNum" jdbcType="INTEGER"/>
        <result property="leftNum" column="leftNum" jdbcType="INTEGER"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,userId,interfaceInfoId,
        totalNum,leftNum,createTime,
        updateTime,isDelete
    </sql>
    <select id="selectLeftNum" resultType="com.edkai.project.model.vo.InterfaceLeftVo">
        SELECT ii.id, ii.name, ii.description, ii.`url`, ii.`method`, uii.leftNum
        FROM interface_info ii
                 LEFT JOIN user_interface_info uii ON ii.`id` = uii.`interfaceInfoId`
        WHERE ii.`isDelete` = 0
          AND ii.`isFree` = 0
          AND uii.`userId` = #{userId}
    </select>
</mapper>
